body {
}

input[type=file].form-control {
	height: auto;
}

h1.panel-heading {
	margin-top: 0px;
	font-size: 16px;
	line-height: normal;
}
.dropdown-menu > li > .menu-item {
	clear: both;
	color: #333333;
	display: block;
	font-weight: normal;
	line-height: 1.42857;
	padding: 3px 20px;
	white-space: nowrap;
}

.icon {
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	*display: block;
}

	.icon.file {
		background-image: url('images/icon/file-unknown.png');
		width: 64px;
		height: 64px;
	}

		.icon.file.ext-exe,
		.icon.file.ext-scr,
		.icon.file.ext-cmd,
		.icon.file.ext-bat,
		.icon.file.ext-sh {
			background-image: url('images/icon/file-cmd.png');
		}

		.icon.file.ext-pcast,
		.icon.file.ext-m4p,
		.icon.file.ext-m4a,
		.icon.file.ext-flac,
		.icon.file.ext-mp3,
		.icon.file.ext-wav,
		.icon.file.ext-aif,
		.icon.file.ext-oga,
		.icon.file.ext-ogg,
		.icon.file.ext-wma {
			background-image: url('images/icon/file-music.png');
		}

		.icon.file.ext-flc,
		.icon.file.ext-bsf,
		.icon.file.ext-qt,
		.icon.file.ext-flv,
		.icon.file.ext-divx,
		.icon.file.ext-m4v,
		.icon.file.ext-mp4,
		.icon.file.ext-mov,
		.icon.file.ext-avi,
		.icon.file.ext-mpg,
		.icon.file.ext-ogv,
		.icon.file.ext-wmv,
		.icon.file.ext-webm,
		.icon.file.ext-3gp,
		.icon.file.ext-mkv {
			background-image: url('images/icon/file-movie.png');
		}

		.icon.file.ext-jpeg,
		.icon.file.ext-jpg,
		.icon.file.ext-png,
		.icon.file.ext-tif,
		.icon.file.ext-psd,
		.icon.file.ext-webp,
		.icon.file.ext-ico,
		.icon.file.ext-icns,
		.icon.file.ext-cur,
		.icon.file.ext-gif {
			background-image: url('images/icon/file-picture.png');
		}

		.icon.file.ext-rtf,
		.icon.file.ext-log,
		.icon.file.ext-doc,
		.icon.file.ext-docx,
		.icon.file.ext-txt {
			background-image: url('images/icon/file-text.png');
		}

		.icon.file.ext-html,
		.icon.file.ext-htm,
		.icon.file.ext-cshtml,
		.icon.file.ext-vbhtml,
		.icon.file.ext-php,
		.icon.file.ext-asp,
		.icon.file.ext-aspx,
		.icon.file.ext-ascx,
		.icon.file.ext-config {
			background-image: url('images/icon/file-html.png');
		}

		.icon.file.ext-js,
		.icon.file.ext-json,
		.icon.file.ext-cs,
		.icon.file.ext-vb,
		.icon.file.ext-pas,
		.icon.file.ext-h,
		.icon.file.ext-cpp,
		.icon.file.ext-c,
		.icon.file.ext-cc,
		.icon.file.ext-xml {
			background-image: url('images/icon/file-script.png');
		}

		.icon.file.ext-7z,
		.icon.file.ext-ace,
		.icon.file.ext-tar,
		.icon.file.ext-taz,
		.icon.file.ext-iso,
		.icon.file.ext-isz,
		.icon.file.ext-img,
		.icon.file.ext-jar,
		.icon.file.ext-gz,
		.icon.file.ext-tgz,
		.icon.file.ext-z,
		.icon.file.ext-rar,
		.icon.file.ext-zip {
			background-image: url('images/icon/file-archive.png');
		}

.footer-invisible-link {
	color: #555555;
}